.houseContractGridContainer {
    display: flex;
    justify-content: center;
  }
  

.houseContractGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.houseContractCard {
    border: 2px solid black;
    padding: 5px;
    width: 280px;
    color: black;
    font-size: 25px;
}
  